<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Hotel Boradois - <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
<p style="color: green"><%= flash[:notice] %></p>

<div id="colunas">
	<div id="topo">
		Hotel Boradois
	</div>

	<div id="menu">
		<%= unless params[:admin]
			yield(:menu_admin) || render(:partial => 'shared/menu_admin') 
		    else
			yield(:menu) || render(:partial => 'shared/menu')
		    end 
		%>
	</div>

	<div id="conteudo">
		<%= yield  %>
	</div>
	
	<div id="rodape">
	</div>

</div>

</body>
</html>
