<h1>Inserindo reserva</h1>

<% form_for(@reserva) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :hospede %><br />
	<%= f.select("fkHospedes", Hospede.all.collect {|h| [ h.nome, h.id ] }, {}) %>
  </p>
  <p>
    <%= f.label :fkTiposApartamentos, "Tipo de apartamento"%><br />
    <%= f.select("fkTiposApartamentos", TiposApartamento.all.collect {|t| [ t.nome, t.id ] }, {}) %>
  </p>
  <p>
    <%= f.label :dataEntrada, "Data de entrada" %><br />
    <%= f.date_select :dataEntrada, :end_year => Time.now.year+10, :start_year => Time.now.year %>
  </p>
  <p>
    <%= f.label :dataSaida, "Data de saida" %><br />
    <%= f.date_select :dataSaida, :end_year => Time.now.year+10, :start_year => Time.now.year %>
  </p>
  <p>
    <%= f.submit "Inserir" %>
  </p>
<% end %>

<%= link_to 'Voltar', reservas_path %>
