<p>
  <b>Hospede:</b>
  <%=h Hospede.find(@reserva.hospede_id).nome %>
</p>

<p>
  <b>Tipo de apartamento:</b>
  <%=h TiposApartamento.find(@reserva.tiposApartamento_id).nome %>
</p>
<p>
  <b>Data de entrada:</b>
  <%=h @reserva.dataEntrada %>
</p>

<p>
  <b>Data de saida:</b>
  <%=h @reserva.dataSaida %>
</p>


<%= link_to 'Editar', edit_reserva_path(@reserva) %> 
<% if session[:admin] %>
| <%= link_to 'Voltar', reservas_path %>
<% end %>
