<h1>Lista de serviços</h1>

<table>
  <tr> 
    <th>Nome</th>
    <th>Valor</th>
    <th>Descrição</th>
    <th colspan="3">Opções</th>
  </tr>

<% par_impar = 0;
  for servico in @servicos 
	  par_impar = 1 - par_impar %>
  <tr class="listLine<%= par_impar %>">
    <td><%=h servico.nome %></td>
    <td><%=h servico.valor %></td>
    <td><%=h servico.descricao %></td>
    <td width="5%"><%= link_to 'Exibir', servico %></td>
    <td width="5%"><%= link_to 'Editar', edit_servico_path(servico) %></td>
    <td width="5%"><%= link_to 'Remover', servico, :confirm => 'Você tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Inserir novo servico', new_servico_path %>
