<h1>Editando apartamento</h1>

<% form_for(@apartamento) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :num %><br />
    <%= f.text_field :num %>
  </p>
  <p>
    Tipo do apartamento<br />
    <%= select("apartamento", "fkTiposApartamentos", TiposApartamento.all.collect {|t| [ t.nome, t.id ] }, {:include_blank => true}) %>
  </p>
  <p>
    <%= f.submit "Atualizar" %>
  </p>
<% end %>

<%= link_to 'Exibir', @apartamento %> |
<%= link_to 'Voltar', apartamentos_path %>
