<h1>Inserindo apartamento</h1>

<% form_for(@apartamento) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :num, 'Número' %><br />
    <%= f.text_field :num %>
  </p>
  <p>
    <%= f.label :fkTiposApartamentos, 'Tipo do apartamento'%><br />
    <%= select("apartamento", "fkTiposApartamentos", TiposApartamento.all.collect {|t| [ t.nome, t.id ] }, {}) %>
  </p>
  <p>
    <%= f.submit "Inserir" %>
  </p>
<% end %>

<%= link_to 'Voltar', apartamentos_path %>
