<h1>Contratando serviço</h1>

<% form_for(@aluguel) do |f| %>
  <%= f.error_messages %>

<p>
  <b>Nome:</b>
  <%=h @servico.nome %>
</p>

<p>
  <b>Valor:</b>
  <%=h @servico.valor %>
</p>

<p>
  <b>Descrição:</b>
  <%=h @servico.descricao %>
</p>
  <%= f.hidden_field 'apartamento', :value => @apartamento.id %>
  <%= f.hidden_field 'servico', :value => @servico.id %>
<p>
  <%= f.submit "Contratar" %>
</p>

<% end %>

<%= link_to 'Voltar', :controller => :alugueis, :ap => @apartamento.id %>
