<h1>Litando os tipos de apartamentos</h1>

<table>
  <tr class="list">
    <th>Nome</th>
    <th>Descricao</th>
    <th>Valor</th>
    <th colspan="3">Opções</th>
  </tr>

<% par_impar = 0
  for tipos_apartamento in @tipos_apartamentos 
	par_impar = 1 - par_impar %>
  <tr class="listLine<%= par_impar %>">
    <td><%=h tipos_apartamento.nome %></td>
    <td><%=h tipos_apartamento.descricao %></td>
    <td><%=h tipos_apartamento.valor %></td>
    <td width="5%"><%= link_to 'Exibir', tipos_apartamento %></td>
    <td width="5%"><%= link_to 'Editar', edit_tipos_apartamento_path(tipos_apartamento) %></td>
    <td width="5%"><%= link_to 'Remover', tipos_apartamento, :confirm => 'Você tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Inserir novo tipo de apartamento', new_tipos_apartamento_path %>
