<p>
  <b>Nome:</b>
  <%=h @tipos_apartamento.nome %>
</p>

<p>
  <b>Descrição:</b>
  <%=h @tipos_apartamento.descricao %>
</p>

<p>
  <b>Valor:</b>
  <%=h @tipos_apartamento.valor %>
</p>


<%= link_to 'Editar', edit_tipos_apartamento_path(@tipos_apartamento) %> |
<%= link_to 'Voltar', tipos_apartamentos_path %>
