<h1>Editando reserva</h1>

<% form_for(@reserva) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :hospede %><br />
	<%= f.select("fkHospedes", Hospede.all.collect {|h| [ h.nome, h.id ] }, {:include_blank => true}) %>
  </p>
  <p>
    <%= f.label :dataEntrada %><br />
    <%= f.date_select :dataEntrada %>
  </p>
  <p>
    <%= f.label :dataSaida %><br />
    <%= f.date_select :dataSaida %>
  </p>
  <p>
  <%= f.submit "Atualizar" %>
  </p>
<% end %>

<%= link_to 'Exibir', @reserva %> |
<%= link_to 'Voltar', reservas_path %>
