<h1>Inserindo reserva</h1>

<% form_for(@reserva) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :hospede %><br />
	<%= select("hospede","nome", Hospede.nomes , {} , { :new => nil }) %>
  </p>
  <p>
    <%= f.label :dataEntrada %><br />
    <%= f.date_select :dataEntrada %>
  </p>
  <p>
    <%= f.label :dataSaida %><br />
    <%= f.date_select :dataSaida %>
  </p>
  <p>
    <%= f.submit "Inserir" %>
  </p>
<% end %>

<%= link_to 'Voltar', reservas_path %>
