<h1>Editando hospede</h1>

<% form_for(@hospede) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :endereco %><br />
    <%= f.text_field :endereco %>
  </p>
  <p>
    <%= f.label :nascimento %><br />
    <%= f.date_select :nascimento %>
  </p>
  <p>
    <%= f.label :pais %><br />
    <%= f.text_field :pais %>
  </p>
  <p>
    Sexo<br />
    <%= select("hospede","sexo", %w[Masculino Feminino], {} , { :new => nil }) %>
  </p>
  <p>
    Estado civil<br />
    <%= select("hospede","estCivil", %w[Casado Solteiro Divorciado Viuvo], {} , { :new => nil }) %>
  </p>
  <p>
    <%= f.submit "Atualizar" %>
  </p>
<% end %>

<%= link_to 'Exibir', @hospede %> |
<%= link_to 'Voltar', hospedes_path %>
