<h1>Inserindo hospede</h1>

<% form_for(@hospede) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :nascimento %><br />
    <%= f.date_select :nascimento, :end_year => Time.now.year, :start_year => Time.now.year-100, :use_month_names => Hospede.meses %>
  </p>
  <p>
    <%= f.label :endereco, 'Endereço' %><br />
    <%= f.text_field :endereco %>
  </p>
  <p>
    <%= f.label :pais, 'País' %><br />
    <%= f.text_field :pais %>
  </p>
  <p>
    <%= f.label :sexo%><br />
    <%= select("hospede","sexo", Hospede.generos, {} , { :new => nil }) %>
  </p>
  <p>
    <%= f.label :estCivil, 'Estado civil' %><br />
    <%= select("hospede","estCivil", Hospede.estadosCivis , {} , { :new => nil }) %>
  </p>
  <p>
    <%= f.submit "Inserir" %>
  </p>
<% end %>

<%= link_to 'Voltar', hospedes_path %>
