<p>
  <b>Nome:</b>
  <%=h @hospede.nome %>
</p>

<p>
  <b>Endereco:</b>
  <%=h @hospede.endereco %>
</p>

<p>
  <b>Nascimento:</b>
  <%=h @hospede.nascimento %>
</p>

<p>
  <b>Pais:</b>
  <%=h @hospede.pais %>
</p>

<p>
  <b>Sexo:</b>
  <%=h @hospede.sexo %>
</p>

<p>
  <b>Estcivil:</b>
  <%=h @hospede.estCivil %>
</p>


<%= link_to 'Edit', edit_hospede_path(@hospede) %> |
<%= link_to 'Back', hospedes_path %>
