<p>
  <b>Nome:</b>
  <%=h @hospede.nome %>
</p>

<p>
  <b>Nascimento:</b>
  <%=h @hospede.nascimento %>
</p>

<p>
  <b>Endereço:</b>
  <%=h @hospede.endereco %>
</p>

<p>
  <b>País:</b>
  <%=h @hospede.pais %>
</p>

<p>
  <b>Sexo:</b>
  <%=h @hospede.sexo %>
</p>

<p>
  <b>Estado civil:</b>
  <%=h @hospede.estCivil %>
</p>

<p>
  <b>E-mail:</b>
  <%=h @hospede.email %>
</p>

<p>
  <b>Login:</b>
  <%=h @hospede.login %>
</p>


<%= link_to 'Editar', edit_hospede_path(@hospede) %> |
<%= link_to 'Voltar', hospedes_path %>
