<h1>Editando apartamento</h1>

<% form_for(@apartamento) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :num, 'Número' %><br />
    <%= f.text_field :num %>
  </p>
  <p>
    <%= f.label :fkTiposApartamentos, 'Tipo do apartamento' %><br />
    <%= select("apartamento", "tiposApartamento_id", TiposApartamento.find(:all, :order => "nome").collect {|t| [ t.nome, t.id ] }, {}) %>
  </p>
  <p>
    <%= f.submit "Atualizar" %>
  </p>
<% end %>

<%= link_to 'Exibir', @apartamento %> |
<%= link_to 'Voltar', apartamentos_path %>
