<h1>Listando apartamentos</h1>

<table>
  <tr>
	<th>Número</th>
	<th>Tipo</th>
	<th>Status</th>
	<th colspan="3">Opções</th>
  </tr>

  <% par_impar = 0
  for apartamento in @apartamentos 
	par_impar = 1 - par_impar %>
  <tr class="listLine<%= par_impar %>">
    <td><%=h apartamento.num %></td>
    <td><%=h TiposApartamento.find(apartamento.fkTiposApartamentos).nome %></td>
    <%if apartamento.livre-%>
    	<td>Livre</td>
    <%else -%>
    	<td>Ocupado</td>
    <%end -%>
    
    <td width="5%"><%= link_to 'Exibir', apartamento %></td>
    <td width="5%"><%= link_to 'Editar', edit_apartamento_path(apartamento) %></td>
    <td width="5%"><%= link_to 'Remover', apartamento, :confirm => 'Você tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Inserir novo apartamento', new_apartamento_path %>
