<p>
  <b>Número:</b>
  <%=h @apartamento.num %>
</p>
<p>
  <b>Tipo do apartamento:</b>
  <%=h TiposApartamento.find(@apartamento.fkTiposApartamentos).nome %>
</p>
<p>
  <b>Status:</b>
  <%if @apartamento.livre-%>
  	<td>Livre</td>
  <%else -%>
	<td>Ocupado</td>
  <%end -%> 
</p>
<%if @apartamento.livre-%>
<p>
  <%= link_to 'Hospedar', :action => "hospedar", :id => @apartamento.id %>
</p>
<%end -%> 

<%if not @apartamento.livre-%>
<p>
  <%=link_to 'Conta', :controller => "contas", :action => "show", :id => @apartamento.id %>
</p>
<%end -%> 


<%= link_to 'Editar', edit_apartamento_path(@apartamento) %> |
<%= link_to 'Voltar', apartamentos_path %>
